.DS_Store
node_modules
build

# Logs
logs
*.log
npm-debug.log*
yarn-error.log*
yarn-debug.log*

# Editor directories and files
.DS_Store
*.db
.sass-cache
.idea

# npm
npm-debug.log*
yarn-error.log*
yarn-debug.log*
.npm